cloudinary==1.44.0
fastapi==0.115.12
langchain==0.3.25
langchain-community==0.3.24
llama-index==0.9.48
openai==1.81.0
python-dotenv==1.1.0
python-multipart==0.0.20
requests==2.32.3
uvicorn==0.34.2
PyMuPDF>=1.18.0
transformers
sentence-transformers
